In [1]:
from PIL import Image
import pytesseract
import argparse
import cv2
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import csv
import nltk
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet

In [11]:
image=cv2.imread("D:\\1 rcpt.jpg")

In [12]:
text=(pytesseract.image_to_string(image)).lower()
print(text)

#10 t.v.k road, (opp. sathyam cinema),
royapettah, chennai-600014

gstin no; 33aawfr9367d1zm

fssai code : 12419002005265
phone ; 044-48555563, 48503030
e-mail: rotticious@gmail:com

invoice

inv no # roy00004432
date 22/09/2023 1:11pm

dine in- ts

item name qty price dis sub

three cheese pasta | 170 170

ad. mushroom l 50 50

cheese corn balls 1 160 160

gendral item 1 250 250
‘total 630

teattikaannicake

In [13]:
#identify the date

match=re.findall(r'\d+[/.-]\d+[/.-]\d+', text)

st=" "
st=st.join(match)
print(st)

22/09/2023

In [14]:
nltk.download('punkt',quiet=True)
nltk.download('wordnet',quiet=True)

True

In [15]:
#lets try to extract title
sent_tokens=nltk.sent_tokenize(text)
#print(sent_tokens)
sent_tokens[0].splitlines()[0]

'#10 t.v.k road, (opp.'

In [16]:
#lets find the price of the category.
price=re.findall(r'[\$\£\€](\d+(?:\.\d{1,2})?)',text)
price = list(map(float,price)) 
print(max(price))
x=max(price)

ValueError: max() arg is an empty sequence

In [17]:
#till here we have extracted date,title and amount.
#now its time to categorise bill whether it is shopping or grocery like wise
#so i will first tokenise the text and search for key words
print(word_tokenize(text))

['#', '10', 't.v.k', 'road', ',', '(', 'opp', '.', 'sathyam', 'cinema', ')', ',', 'royapettah', ',', 'chennai-600014', 'gstin', 'no', ';', '33aawfr9367d1zm', 'fssai', 'code', ':', '12419002005265', 'phone', ';', '044-48555563', ',', '48503030', 'e-mail', ':', 'rotticious', '@', 'gmail', ':', 'com', 'invoice', 'inv', 'no', '#', 'roy00004432', 'date', '22/09/2023', '1:11pm', 'dine', 'in-', 'ts', 'item', 'name', 'qty', 'price', 'dis', 'sub', 'three', 'cheese', 'pasta', '|', '170', '170', 'ad', '.', 'mushroom', 'l', '50', '50', 'cheese', 'corn', 'balls', '1', '160', '160', 'gendral', 'item', '1', '250', '250', '‘', 'total', '630', 'teattikaannicake']

In [18]:
#we will remove punctuation
tokenizer = nltk.RegexpTokenizer(r"\w+")
new_words = tokenizer.tokenize(text)
print(new_words)

['10', 't', 'v', 'k', 'road', 'opp', 'sathyam', 'cinema', 'royapettah', 'chennai', '600014', 'gstin', 'no', '33aawfr9367d1zm', 'fssai', 'code', '12419002005265', 'phone', '044', '48555563', '48503030', 'e', 'mail', 'rotticious', 'gmail', 'com', 'invoice', 'inv', 'no', 'roy00004432', 'date', '22', '09', '2023', '1', '11pm', 'dine', 'in', 'ts', 'item', 'name', 'qty', 'price', 'dis', 'sub', 'three', 'cheese', 'pasta', '170', '170', 'ad', 'mushroom', 'l', '50', '50', 'cheese', 'corn', 'balls', '1', '160', '160', 'gendral', 'item', '1', '250', '250', 'total', '630', 'teattikaannicake']

In [19]:
#stop_words = set(nltk.corpus.stopwords.words('english')) 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [20]:
#there are stop words like a ,an,the etc which are not required
#so we need to filter them
stop_words = set(nltk.corpus.stopwords.words('english'))

In [21]:
#there is the filetred list
filtered_list=[w for w in new_words if w not in stop_words ]
print(filtered_list)

['10', 'v', 'k', 'road', 'opp', 'sathyam', 'cinema', 'royapettah', 'chennai', '600014', 'gstin', '33aawfr9367d1zm', 'fssai', 'code', '12419002005265', 'phone', '044', '48555563', '48503030', 'e', 'mail', 'rotticious', 'gmail', 'com', 'invoice', 'inv', 'roy00004432', 'date', '22', '09', '2023', '1', '11pm', 'dine', 'ts', 'item', 'name', 'qty', 'price', 'dis', 'sub', 'three', 'cheese', 'pasta', '170', '170', 'ad', 'mushroom', 'l', '50', '50', 'cheese', 'corn', 'balls', '1', '160', '160', 'gendral', 'item', '1', '250', '250', 'total', '630', 'teattikaannicake']

In [22]:

#entertainment
entertainment = [] 
for syn in wordnet.synsets("entertainment"): 
    for l in syn.lemmas(): 
        entertainment.append(l.name()) 
        
l=['happy','restaurant','food','kitchen','hotel','room','park','movie','cinema','popcorn','combo meal']
entertainment=entertainment+l

In [23]:

#home utility
home_utility=[] 
for syn in wordnet.synsets("home"): 
    for l in syn.lemmas(): 
         home_utility.append(l.name()) 
l2=['internet','telephone','elecricity','meter','wifi','broadband','consumer','reading','gas','water','postpaid','prepaid']
home_utility+=l2

In [24]:

#grocery
 
grocery=[] 
for syn in wordnet.synsets("grocery"): 
    for l in syn.lemmas(): 
         grocery.append(l.name())
l3=['bigbasket','milk','atta','sugar','suflower','oil','bread','vegetabe','fruit','salt','paneer']
grocery+=l3

In [25]:

#investment
investment=[] 
for syn in wordnet.synsets("investment"): 
    for l in syn.lemmas(): 
         investment.append(l.name()) 
l1=['endowment','grant','loan','applicant','income','expenditure','profit','interest','expense','finance','property','money','fixed','deposit','kissan','vikas']
investment=investment+l1

In [26]:

#travel and transportation
transport=[]
for syn in wordnet.synsets("car"): 
    for l in syn.lemmas(): 
         transport.append(l.name()) 
l4=['cab','ola','uber','autorickshaw','railway','air','emirates','aerofloat','taxi','booking','road','highway']
transport+=l4

In [27]:

#shopping
shopping=[]
for syn in wordnet.synsets("dress"): 
    for l in syn.lemmas(): 
         shopping.append(l.name()) 
l4=['iphone','laptop','saree','max','pantaloons','westside','vedic','makeup','lipstick','cosmetics','mac','facewash','heels','crocs','footwear','purse']
shopping+=l4

In [31]:
#here we will check that the bill belongs to which category
#we will make that category true.
for word in filtered_list:
    if word in entertainment:
        e=True
        break
    elif word in investment:
        inv=True
        break
    elif word in grocery:
        g=True
        break
    elif word in shopping:
        s=True
        break
    elif word in transport:
        t=True
        break
    elif word in home_utility:
        h=True
        break

In [32]:
#this is how i created all the csv files.
'''with open('entertainment1.csv', 'a', newline='') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=',',quoting=csv.QUOTE_MINIMAL)
    spamwriter.writerow(['date','organisation','amount'])'''

"with open('entertainment1.csv', 'a', newline='') as csvfile:\n    spamwriter = csv.writer(csvfile, delimiter=',',quoting=csv.QUOTE_MINIMAL)\n    spamwriter.writerow(['date','organisation','amount'])"

In [33]:
#question 2
#this code the category in which the bill belongs to
#if e is true then entertainment categrory and we will ,ake filename as entertainment.csv using
#formatting
if(e):
    print("entertainment category")
    filename='{}.csv'.format('entertainment')
    #df=pd.read_csv('entertainment.csv')
elif(inv):
    print("investment category")
    filename='{}.csv'.format('investment')
    #df=pd.read_csv('investment.csv')
elif(s):
    print("shopping category")
    filename='{}.csv'.format('shopping')
    #df=pd.read_csv('shopping.csv')
elif(g):
    print("grocery category")
    filename='{}.csv'.format('grocery')
    #df=pd.read_csv('grocery.csv')
elif(t):
    print("transport category")
    filename='{}.csv'.format('transport')
    #df=pd.read_csv('transport.csv')
elif(h):
    print("home utility category")
    filename='{}.csv'.format('home')
    #df=pd.read_csv('home.csv')
else:
    print("others")
    filename='{}.csv'.format('others')
    #df=pd.read_csv('others.csv')

NameError: name 'e' is not defined